# Build Files
JwtAuthenticationApi/bin/*
JwtAuthenticationApi/obj/*
JwtAuthenticationApi.Services/bin/*
JwtAuthenticationApi.Services/obj/*
JwtAuthenticationApi.Services.Tests/bin/*
JwtAuthenticationApi.Services.Tests/obj/*
JwtAuthenticationApi.Common/bin/*
JwtAuthenticationApi.Common/obj/*
JwtAuthenticationApi.Common.Tests/bin/*
JwtAuthenticationApi.Common.Tests/obj/*
JwtAuthenticationApi.Controllers/bin/*
JwtAuthenticationApi.Controllers/obj/*
JwtAuthenticationApi.Security.Tests/bin/*
JwtAuthenticationApi.Security.Tests/obj/*
JwtAuthenticationApi.Security/bin/*
JwtAuthenticationApi.Security/obj/*
JwtAuthenticationApi.Infrastructure/bin/*
JwtAuthenticationApi.Infrastructure/obj/*
JwtAuthenticationApi.Infrastructure.Tests/bin/*
JwtAuthenticationApi.Infrastructure.Tests/obj/*
JwtAuthenticationApi.UnitTests/bin/*
JwtAuthenticationApi.UnitTests/obj/*

# Migrations 
JwtAuthenticationApi/Migrations/*

# App Settings
JwtAuthenticationApi/appsettings.json

# VS Files
.vs/*

# Resharper Files
JwtAuthenticationApi.sln.DotSettings.user

# Other Files
.idea/*